
@*  <CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeView Context="AppAuthState">

                <Authorized>
                    <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                </Authorized>

                <NotAuthorized>
                    <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(AuthLayout)">
                        @*  <NotAuthorized>
                            <RedirectToLogin />
                        </NotAuthorized> *
                    </AuthorizeRouteView>
                         <RedirectToLogin /> 
                </NotAuthorized>

            </AuthorizeView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState> 
 *@

 
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                @* سيتم توجيه المستخدم غير المسجل إلى صفحة تسجيل الدخول *@
                <RedirectToLogin />
            </NotAuthorized>
            <Authorizing>
                <p>جاري التحقق من الصلاحيات...</p>
            </Authorizing>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>عفواً، الصفحة غير موجودة.</p>
        </LayoutView>
    </NotFound>
</Router> 
</CascadingAuthenticationState> 
