@using TLSWeb.Components
@using TLSWeb.Pages.Centers.Components
@inject ExcelDownloadService ExcelService

@attribute [Route(PagesUris.CenterPages.DailyReport)]

<AuthorizeView>
    <div class="d-flex justify-content-end align-items-center mb-4 mt-3" dir="rtl">
        <button class="btn btn-success" @onclick="ExportToExcel" disabled="@(IsLoading)">
            @if (IsLoading)
            {
                <span class="spinner-border spinner-border-sm me-1"></span>
                <span>جاري التصدير...</span>
            }
            else
            {
                <i class="bi bi-download me-1"></i>
                <span>تصدير إلى Excel</span>
            }
        </button>
    </div>
</AuthorizeView>

<h3>
    <i class="bi bi-table me-2 text-primary"></i>
تقرير حضور الطلاب اليومي</h3>

<div class="alert alert-info d-flex align-items-center" role="alert">
    <i class="bi bi-info-circle me-2"></i>
    <div>
        <InputDate @bind-Value="SelectedDate" @bind-Value:after="@(()=>OnDateChanged())"></InputDate>
    </div>
</div>


@if(DailyReports is null || DailyReports.Count<=0)
{
    <LoadingComponent></LoadingComponent>
}
else
{
    
    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center mb-4 border-bottom pb-2">
            <h2 class="text-primary fw-bold">تقرير الحضور اليومي</h2>
            <span class="badge bg-secondary p-2">التاريخ: @DateTime.Now.ToString("yyyy-MM-dd")</span>
        </div>

        <div class="input-group input-group-sm mb-5" style="width:50%">
            <span class="input-group-text bg-white border-end-0">
                <i class="bi bi-search"></i>
            </span>

            <input type="text"
                   class="form-control"
                   placeholder="ابحث هنا باستخدام اسم المركز ..."
                   @bind="searchText"
                   @bind:event="oninput"
                   @bind:after="OnSearchChanged" />


        </div>

        @foreach (var item in DailyReportSrchRs)
        {
            <CenterDailyReportComponent item="@item"  ManagerName="@Managers.FirstOrDefault(m => m.EmpCenters?.FirstOrDefault().CenterId== item.CenterId)?.Name"></CenterDailyReportComponent>
        }

      @*   <div class="text-center mt-5 mb-5">
            <button type="submit" class="btn btn-success btn-lg px-5 shadow">
                <i class="bi bi-check-circle me-2"></i> حفظ جميع التقارير
            </button>
        </div> *@
    </div>
}

@code {
    List<SharedLib.Entities.DailyReport> DailyReports = new();
    List<SharedLib.Entities.DailyReport> DailyReportSrchRs;
    DateOnly SelectedDate = DateOnly.FromDateTime(DateTime.Now);
    List<Employee> Managers;
    bool IsLoading = false;
    private string searchText = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        DailyReports = await DailyReportApi.GetDailyReportForDate(SelectedDate); 
        DailyReportSrchRs = DailyReports;
        Managers = await EmployeeApi.GetAllManagers();

    }

    // private async Task SaveCenter(long CenterId)
    // {
    //     var reportToSave = DailyReports.FirstOrDefault(r => r.CenterId == CenterId);

    //     if (reportToSave != null)
    //     {
    //         reportToSave.Center = null;
    //         var response = await DailyReportApi.UpdateDailyReport(reportToSave);
    //         if (response.Success)
    //             MudSnackbar.Add(response.Message, Severity.Success);
    //         else
    //             MudSnackbar.Add(response.Message, Severity.Error);
    //     }
    // }
    private async Task OnDateChanged()
    {
        DailyReports = null;
        StateHasChanged();
        DailyReports = await DailyReportApi.GetDailyReportForDate(SelectedDate);
        DailyReportSrchRs = DailyReports;
    }
    private async void ExportToExcel(MouseEventArgs args)
    {
        IsLoading = true;
        try
        {
            if (DailyReports == null) return;

            var response = await DailyReportApi.Export(SelectedDate);
            await ExcelService.DownloadFromResponse(response, $"التقرير اليومي {SelectedDate.ToString("yyyy-MM-dd")}.xlsx");
        }
        finally
        {
            IsLoading = false;
        }
    }
    private async Task OnSearchChanged()
    {
        DailyReportSrchRs = DailyReports.Where(x => x.Center.Name.ToLower().Contains(searchText.ToLower()) 
        // ||x.Center.CenterCode.ToLower().Contains(searchText.ToLower()) ||
        // x.Center.EnName.Contains(searchText)
        ).ToList();

        //currentPage = 1;
        //await LoadDataAsync();
    }
}
